body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid #000;
}

.col--lg-1 { width: 25%; }
.col--lg-2 { width: 50%; }
.col--lg-3 { width: 75%; }
.col--lg-4 { width: 100%; }

.col--lg-pl {
	padding-left: 80px;
}

.main-nav__list	{
	
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
}

.main-nav__link {
	display: block;
	padding: 10px;
}

.main-nav__item:last-child .main-nav__link {
	padding-right: 0;
}

.promo-wrapper {
  background-image: url(../images/bg_main.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.promo_text {
  color: #fff;
  height: 50vh;
  padding-left: 30px;
  padding-top: 150px;
}

.logo {
  padding-top: 30px;
  padding-left: 30px;
}

.logo-link {
  color: #eec643;
  text-decoration: none;
  font-size: 30px;
}

.main-nav__link {
  color: #000000;
  text-decoration: none;
}

.main-nav {
  padding-top: 30px;
  padding-right: 30px;
}

.guitar {
  background-image: url(../images/directions_card_img_1.jpg);
  background-repeat: no-repeat;
}