@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

header {
  min-width: 320px;
  margin: 0 auto;
}

.logo {
  color: #d2af3e;
  text-decoration: none;
  font-size: 30px;
 
  font-family: Prata, serif;
}

h1,
h2,
h3, {
  font-family: Prata, serif;
}

h1 {
  font-size: 32px;
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: normal;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

.button {
  background-color: #d2af3e;
  display: block;
}

.button-promo {
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.container {
  min-width: 100%;
  margin: 0 auto;
}

.about-text {
  color: #fff;
  margin-bottom: 70px;
  width: 65%;
  line-height: 20px;
}

.about {
  margin-top: 95px;
}

.promo {
  background-image: url(../images/bg_main_mobile.jpg);
  padding: 20px 15px 30px 15px;
}

.nav_item {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: none;
}