@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, html {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

header {
  margin: 0 auto;
}

.logo {
  color: #d2af3e;
  text-decoration: none;
  font-size: 30px;
  font-family: Prata, serif;
  z-index: 1;
}

h1,
h2,
h3, {
  font-family: Prata, serif;
}

h1 {
  font-size: 32px;
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  font-family: 'Prata', serif;
  font-weight: normal;
  position: relative;
  padding-left: 10px;
  max-width: 90%;
}

h2:before {
  position: absolute;
  content: "";
  display: block;
  width: 110%;
  height: 1px;
  background-color: #d2af3e;
  margin-top: -5px;
  left: -1px;
}

h2:after {
  position: absolute;
  content: "";
  display: block;
  width: 110%;
  height: 1px;
  background-color: #d2af3e;
  left: -1px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.desktop-text {
  display: none;
}

.button {
  background-color: #eec643;
  box-sizing: border-box;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.button-promo {
  text-decoration: none;
  width: 100%;
}


.button-grow-wrap {
  position: relative;
  flex-basis: 20.66666%;
  background-color: #eec643;
  margin-bottom: 40px;
}

.button-grow {
  position: absolute;
  top: 100%;
  transform-origin: 0 0;
  color: #000;
  transform: rotate(-90deg);
  text-align: left;
  padding-right: 24px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-temp-wrap {
  position: relative;
  flex-basis: 20.66666%;
  background-color: #eec643;
  margin-bottom: 40px;
}

.button-temp {
    position: absolute;
    top: 100%;
    transform-origin: 0 0;
    color: #000;
    transform: rotate(-90deg);
    text-align: left;
    padding-right: 24px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.temp {
  position: relative;
}

.logo-burger {
  display: flex;
  justify-content: space-between;
}

.burger {
  position: relative;
  width: 25px;
  height: 25px;
}

.burger--open  .burger-item {
  width: 0;
}
.burger--open .burger-item:before {
  transform: rotate(45deg);
  left: 0;
}

.burger--open .burger-item:after {
  transform: rotate(-45deg);
  left: 0;
}  


.burger-item {
  position: absolute;
  align-content: baseline;
  top: 2px;
  left: 11px;
  width: 2px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  z-index: 1;
}
.burger-item:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
  display: block;
  left: -7px;
}

.burger-item:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
  display: block;
  left: 7px;
}

.container {
  min-width: 100%;
  margin: 0 auto;
}

.about-text {
  color: #fff;
  margin-bottom: 70px;
  width: 65%;
  line-height: 20px;
}

.about {
  margin-top: 95px;
}

.promo {
  background-image: url(../images/bg_main_mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px 15px 30px 15px;
}

a {
   text-decoration: none;
   color: #fff;
}

.nav {
  display: none;
  position: absolute;
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 15px;
  padding-top: 55px;
}

.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
}
.nav_item {
  color: #fff;
  line-height: 38px;
  letter-spacing: 1px;
}

section {
  position: relative;
}

.grow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.vocal,
.guitar,
.piano {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 144px;
  color: #fff;
  padding: 15px 15px;
  margin-bottom: 15px;
  flex-basis: 100%;
}

.vocal {
  background-image: url(../images/directions_card_img_2_sm.jpg);
}

.guitar {
  background-image: url(../images/directions_card_img_1_sm.jpg);
}

.piano {
  background-image: url(../images/directions_card_img_3_sm.jpg);
  flex-basis: 73%;
  margin-bottom: 40px;
}

.lections {
  display: none;
}


.temp {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: space-between;
}


.team,
.result,
.studio {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 144px;
  color: #fff;
  padding: 15px 15px;
  margin-bottom: 15px;
  flex-basis: 100%;
}

.team {
  background-image: url(../images/advantages_card_img_1_sm.jpg); 
}

.result {
  background-image: url(../images/advantages_card_img_2_sm.jpg);
}

.studio {
  background-image: url(../images/advantages_card_img_3_sm.jpg);
  flex-basis: 73%;
  margin-bottom: 40px;
}


.video {
  padding: 0 15px;
}

.video__gallery {
  width: 79%;
  margin: 0 auto;
}

.video__item {
  background-image: url(../images/video_card_img_1.jpg);
  background-repeat: no-repeat;
  height: 186px;
  width: 100%;
  color: #fff;
  padding-left: 10px;
    position: relative;
}


.video__item:after {
  content: ''; 
  position: absolute; 
  left: 108px; 
  bottom: 75px; 
  border: 20px solid transparent; 
  border-left: 35px solid #eec643; 
}

.video__item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  padding-right: 10px;
}

.video__text {
  margin-top: 0px;
}

.btn--next, .btn--prev {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  content: '';
  background-image: url(../images/next-85.png);
  background-repeat: no-repeat; 
  background-size: contain;
  width: 25px;
  height: 25px;
  z-index: 100;
  cursor: pointer;


}
.btn--next:focus, .btn--prev:focus {
  outline: 0;
}

.btn--next {
  position: absolute;
  bottom: 84px;
  right: -43px;
}

.btn--prev {
  position: absolute;
  bottom: 84px;
  transform: rotate(180deg);
  left: -43px;
}


.slick-prev, .slick-next {
    font-size: 0;
    border: none;
    opacity: 0%;
}

.contacts {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.button-contacts {
  margin-top: 15px;
}

.contacts-text {
  line-height: 24px;
  padding-left: 10px;
}

.phone {
  text-decoration: none;
  color: #000;
}

.about-form {
  display: none;
}


@media (min-width: 1280px) {
  .burger {
    display: none;
  }

  .nav {
    display: flex;
    flex-wrap: wrap; 
   
    background-color: transparent; 
  }

  .nav_list {
     flex-direction: row; 
    justify-content: flex-end;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 300px;
  }


  .promo {
    height: 100vh;
    background-image: url(../images/bg_main.jpg);
    background-repeat: no-repeat;

  }

  h1 {
    font-size: 50px;
  }

  .about-text {
    font-size: 20px;
  }

  .mobile-text {
    display: none;
  }

  .button-promo {
    display: none;
  }

  .about-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    text-align: left;
    width: 15%;
    padding: 10px;

  }

  h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .form-text {
    font-size: 20px;
  }

  .title-grow {
    transform: rotate(-90deg);
    left: 0;
  }

  .grow {
   
  }

  .button-grow-wrap {
    transform: (rotate(90deg));
  }

  .vocal {
    order: 2;
    width: 50%;
  }

  .guitar {
    order: 1;
    width: 30%;
  }

  .piano {
    order: 3;
    width: 30%;
  }

  .lections {
    display: flex;
    background-image: url(../images/directions_card_img_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 144px;
    color: #fff;
    padding: 15px 15px;
    margin-bottom: 15px;
    width: 30%;
  }

  .lections_btn {
    flex-direction: row;
    justify-content: space-between;
  }

  .guitar_piano {
    flex-direction: column;
  }

  .button-temp-wrap {
    display: none;
  }
}